<div class="sidebar">
  <ul class="sidebar-nav">
    <%= sidebar_link('プロフィール', user_path(@user)) %>
    <%= sidebar_link('いいね！一覧', likes_user_path(@user)) %>
    <%= sidebar_link('出品した商品', items_user_path(@user)) %>
    <%= sidebar_link('購入履歴', orders_user_path(@user)) %>
    <%= sidebar_link('クレジットカード一覧', user_cards_path(@user)) %>
  </ul>
</div>
