<div class="card-item <%= 'expired' if @card.expired? %>">
  <%=
    radio_button_tag 'selected_card_id',
                     @card.id,
                     @card == @selected_card,
                     class: 'card-selection-radio',
                     data: {
                       card_selector_target: 'cardSelectionRadio',
                       action: 'change->checkout#setPaymentMethod',
                     }
  %>
  <%= label_tag "card_#{@card.id}", "**** **** **** #{@card.last4} (#{@card.brand})" %>
  <span class="card-expiry">Expires on <%= @card.exp_month %>/<%= @card.exp_year %></span>
  <% if @card.expired? %>
    <span class="card-status">Expired</span>
  <% end %>
</div>
