<div class="text-center">
  <div
    data-checkout-target="selectedCard"
    class="inline-flex items-center w-full max-w-lg p-5 text-gray-500 bg-white border border-gray-200 rounded-lg justify-evenly dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
  >
    <%= fa_icon "cc-#{selected_card.brand.downcase} 3x" %>
    <div class="block">
      <div class="w-full text-lg font-semibold"><%= "**** **** **** #{@selected_card.last4}" %></div>
      <div class="w-full">Expires on <%= @selected_card.exp_month %>/<%= @selected_card.exp_year %></div>
    </div>
    <br />
  </div>
  <%=
    button_to fa_icon('refresh 2x', text: 'Change Card', class: 'pr-4'),
              toggle_card_list_path(show_card_list: !@show_card_list),
              class:
                'inline-flex items-center justify-center w-full max-w-sm p-3 mt-3 text-lg font-semibold text-white bg-blue-500 border border-blue-500 rounded-lg cursor-pointer hover:bg-blue-700 focus:ring-4 focus:ring-blue-300',
              method: :post,
              data: {
                turbo_frame: 'card_frame',
              }
  %>
</div>
