<div class="main">
  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class="text-white [text-shadow:_0_0_5px_rgb(0_0_0_/_90%)] flex flex-col items-start justify-center bg-[url('furima-header01.png')] bg-cover bg-no-repeat bg-top bg-center w-screen px-sp-3xs-5xl py-sp-l-xl">
    <h1 class="text-fs-xxl">人生を変えるフリマアプリ</h1>
    <p class="text-fs-base">FURIMAはだれでもかんたんに出品・購入できる</p>
    <p class="text-fs-base">フリマアプリです</p>
    <div class="flex mt-sp-s">
      <%= link_to image_tag('app-store.svg', class: 'mr-sp-s h-sp-xl-2xl'), '#' %>
      <%= link_to image_tag('google-play.png', class: ' h-sp-xl-2xl'), '#' %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分 %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class="select-reason-contents px-sp-3xs-5xl py-sp-l-xl">
    <h2 class="relative font-bold text-center title mb-sp-l text-fs-md after:w-sp-2xl after:h-[4px] after:bg-furimaTeal after:absolute after:bottom-[-10px] after:left-[50%] after:translate-x-[-50%]">FURIMAが選ばれる3つの理由</h2>
    <ul class="flex justify-between gap-sp-xs">
      <li class="relative flex flex-col items-center w-sp-3xl-6xl">
        <%= image_tag 'furima-intro01.png', class: 'w-full mb-5' %>
        <span class="absolute top-0 left-0 inline-flex items-center justify-center text-white text-fs-lg w-sp-l-xl h-sp-l-xl bg-furimaTeal">1</span>
        <h3 class="font-bold text-fs-md">
          <span class="text-furimaTeal">3分</span>
          ですぐに出品
        </h3>
        <p class="text-fs-base mt-sp-s">スマホで入力するだけで簡単に出品できる！</p>
      </li>
      <li class="relative flex flex-col items-center w-sp-3xl-6xl">
        <%= image_tag 'furima-intro02.png', class: 'w-full mb-5' %>
        <span class="absolute top-0 left-0 inline-flex items-center justify-center text-white text-fs-lg w-sp-l-xl h-sp-l-xl bg-furimaTeal">2</span>
        <h3 class="font-bold text-fs-md">
          <span class="text-furimaTeal">シンプル</span>
          で使いやすい
        </h3>
        <p class="text-fs-base mt-sp-s">めんどくさい入力は必要なく、検索も購入もスムーズ！</p>
      </li>
      <li class="relative flex flex-col items-center w-sp-3xl-6xl">
        <%= image_tag 'furima-intro03.png', class: 'w-full mb-5' %>
        <span class="absolute top-0 left-0 inline-flex items-center justify-center text-white text-fs-lg w-sp-l-xl h-sp-l-xl bg-furimaTeal">3</span>
        <h3 class="font-bold text-fs-md">
          手数料
          <span class="text-furimaTeal">業界最安</span>
        </h3>
        <p class="text-fs-base mt-sp-s">10%でお得に出品&購入！</p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class="text-white [text-shadow:_0_0_5px_rgb(0_0_0_/_90%)] flex flex-col items-start justify-center bg-[url('furima-header02.png')] bg-cover bg-no-repeat bg-top bg-center w-screen px-sp-3xs-5xl py-sp-l-xl">
    <h2 class="text-fs-lg mb-sp-m">会員数日本一位</h2>
    <p class="text-fs-base">FURIMAは、フリマアプリで最も人気。</p>
    <p class="text-fs-base">出品・購入回数も業界最多です！</p>
    <p class="text-fs-base">ほしかったあの商品に出会えるかもしれません。</p>
    <div class="flex mt-sp-s">
      <%= link_to image_tag('app-store.svg', class: 'mr-sp-s h-sp-xl-2xl'), '#' %>
      <%= link_to image_tag('google-play.png', class: 'h-sp-xl-2xl'), '#' %>
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAの特徴 %>
  <div class="px-sp-3xs-5xl py-sp-l-xl">
    <h2 class="relative font-bold text-center text-fs-md mb-sp-m after:w-sp-2xl after:h-[4px] after:bg-furimaTeal after:absolute after:bottom-[-10px] after:left-[50%] after:translate-x-[-50%]">FURIMAの特徴</h2>
    <ul class="flex flex-wrap justify-between feature-lists">
      <li class="flex flex-col items-center w-sp-3xl-5xl">
        <%= image_tag 'furima-intro04.png', class: 'list-pict' %>
        <h3 class="font-bold text-fs-md">簡単に売り買いできる</h3>
        <p class="mt-sp-s text-fs-base">スマホひとつで、いつでもどこでも簡単に出品・購入が可能！</p>
      </li>
      <li class="flex flex-col items-center w-sp-3xl-5xl">
        <%= image_tag 'furima-intro05.png', class: 'list-pict' %>
        <h3 class="font-bold text-fs-md">売上金は即日振込みに対応</h3>
        <p class="mt-sp-s text-fs-base">午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします。</p>
      </li>
      <li class="flex flex-col items-center w-sp-3xl-5xl">
        <%= image_tag 'furima-intro06.png', class: 'list-pict' %>
        <h3 class="font-bold text-fs-md">様々な支払いに対応</h3>
        <p class="mt-sp-s text-fs-base">
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAの特徴 %>

  <%# 商品一覧 %>
  <div class="flex flex-col items-center bg-white py-sp-2xl">
    <h2 class="font-bold text-fs-lg">ピックアップカテゴリー</h2>
    <div class="font-bold text-fs-md my-sp-s text-furimaTeal">新規投稿商品</div>
    <ul class="flex flex-wrap justify-center gap-5">
      <% if @items.present? %>
        <% @items.each do |item| %>
          <li class="list">
            <%= link_to item_path(item) do %>
              <div class="relative">
                <%= image_tag(item.images[0], class: 'w-sp-5xl h-sp-5xl') %>

                <% if item.order %>
                  <div class="absolute w-full p-2 text-center -skew-y-12 bg-red-600 top-sp-2xl">
                    <span class="text-3xl text-white bold">Sold Out!!</span>
                  </div>
                <% end %>
              </div>
              <div class="text-black bg-white p-sp-xs">
                <h3 class="text-fs-base">
                  <%= item.name %>
                </h3>
                <div class="flex justify-between text-fs-xs">
                  <span><%= item.price %>円<br />
                    <%= item.postage_type.name %></span>
                  <div class="flex items-center">
                    <% if current_user && current_user.likes.find_by(item_id: item.id) %>
                       <%= fa_icon 'star lg', class: 'pr-[5px] text-yellow-400' %>
                    <% else %>
                       <%= fa_icon 'star lg', class: 'pr-[5px]' %>
                    <% end %>
                      <span class="text-fs-sm"><%= item.likes.count %></span>
                  </div>
                </div>
              </div>
            <% end %>
          </li>
        <% end %>
      <% else %>
      <li class="list">
        <%= link_to '#' do %>
          <%=
            image_tag 'https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg',
                      class: 'item-img'
          %>
          <div class="text-black bg-white p-sp-xs">
            <h3 class="text-fs-base">商品を出品してね！</h3>
            <div class="flex justify-between text-fs-xs">
              <span>99999999円<br />(税込み)</span>
              <div class="flex items-center">
                <%= fa_icon 'star lg', class: 'pr-[5px]' %>
                <span class="text-fs-sm">0</span>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      </li>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_item_path, class: 'fixed flex flex-col items-center justify-center text-center rounded purchase-btn w-sp-3xl h-sp-3xl bottom-sp-m right-sp-m p-sp-xs bg-furimaTeal') do %>
  <span class="block text-white purchase-btn-text text-fs-base mb-sp-3xs">出品する</span>
  <%= image_tag 'icon_camera.png', size: '185x50', class: 'w-[60%]' %>
<% end %>
<%#= render "shared/footer" %>
