<%# 商品の概要 %>
<div class="bg-[#f8f8f8] flex flex-col items-center sm:p-sp-l w-screen">
  <div class="flex flex-col items-center w-full bg-white sm:w-3/4 min-w-fit sm:px-sp-3xs-5xl py-sp-s-l">
    <h2 class="font-bold text-center text-fs-md">
      <%= @item.name %>
    </h2>
    <div class="relative item-img-content">
      <%= image_tag(@item.images[0], class:"w-full max-w-[448px] min-h-[448px] max-h-[448px] aspect-square item-box-img", id:"main-img") %><br>
      <% if @item.order %>
        <div class="absolute w-full p-2 text-center -skew-y-12 bg-red-600 top-52">
          <span class="text-5xl text-white bold">Sold Out!!</span>
        </div>
      <% end %>
      <div class="thumbnail-images">
        <% @item.images.each_with_index do |image, index| %>
          <div class="thumbnail-image">
            <%= image_tag image, class: (index == 0 ? 'active-thumbnail' : '') %>
          </div>
        <%end%>
      </div>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥<%= @item.price %>
      </span>
      <span class="item-postage">
        <%= @item.postage_type.name %>
      </span>
    </div>

    <% if user_signed_in? && @item.order.blank? %>
      <% if current_user.id == @item.user_id %>
        <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
          <p class="or-text">or</p>
        <%= link_to "削除", item_path(@item.id), data: { turbo_method: :delete }, class:"item-destroy" %>
      <% else %>
        <%= link_to "購入画面に進む", item_orders_path(@item.id) ,class:"item-red-btn"%>
      <% end %>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.info %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.condition.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.postage_type.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.prefecture.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.shipping_time.name %></td>
        </tr>
      </tbody>
    </table>
    <% if current_user %>
    <div class="option">
      <%= turbo_frame_tag "like-link-#{@item.id}", class: "inline-flex items-center mr-5" do %>
        <%= render 'likes/like', item: @item %>
      <% end %>
      <div class="py-2 report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
    <% end %>
  </div>
  <%# /商品の概要 %>

  <div id="comments">
    <h4 class="font-bold text-fs-md m-sp-xs">＜コメント一覧＞</h4>
    <% @item.comments.each do |comment| %>
      <div class="flex gap-1">
        <p class="m-0 font-bold text-gray-500"><%= comment.user.nickname %>: </p>
        <p class="m-0"><%= comment.text %></p>
      </div>
    <% end %>
  </div>

  <div class="w-full text-center bg-white m-sp-l sm:max-w-lg">
    <% if user_signed_in? %>
      <%= form_with model: [@item, @comment], id: "comment-form" do |f| %>
        <%= f.text_area :text, class: "w-full h-[100px] p-[10px] resize-none border-2 border-[#dedede]" %>
        <p class="text-center sm:text-left p-sp-2xs my-sp-2xs text-fs-sm">
          相手のことを考え丁寧なコメントを心がけましょう。
          <br>
          不快な言葉遣いなどは利用制限や退会処分となることがあります。
        </p>
        <%= f.button :submit, class: "rounded-full mb-3 p-sp-xs text-white w-1/2 min-w-[150px] border border-furimaTeal bg-furimaTeal text-fs-base" do %>
          <div class="flex justify-center gap-2">
          <%= image_tag "comment.png", class: "mb-1", width: "20", height: "25" %>
          <span>コメントする<span></div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="links">
    <a href="#" class="change-item-btn">
      ＜ 前の商品
    </a>
    <a href="#" class="change-item-btn">
      後ろの商品 ＞
    </a>
  </div>
  <a href="#" class="another-item"><%= @item.category.name %>をもっと見る</a>
</div>

<%= render "shared/footer" %>
