<% if cards.present? %>
  <% cards.each do |card| %>
    <div class="mb-3">
      <div
        class="relative inline-flex items-center justify-between w-full max-w-xl p-5 text-gray-500 bg-white border <%= card.is_default ? ' border-green-500' : ' border-gray-200' %> rounded-lg dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
      >
        <%= fa_icon "cc-#{card.brand.downcase} 3x", class: 'w-1/4' %>
        <div class="block w-2/4">
          <% if card.is_default? %>
            <p
              class="absolute inset-0 items-center justify-center w-1/6 h-4 text-xs text-white bg-green-500 rounded rounded-tr-none rounded-bl-none"
            >
              Default
            </p>
          <% end %>
          <div class="w-full text-lg font-semibold"><%= "**** **** **** #{card.last4}" %></div>
          <div class="w-full">Expires on <%= card.exp_month %>/<%= card.exp_year %></div>
        </div>
        <div class="flex items-center justify-end w-1/4">
          <% unless card.is_default %>
            <%=
              button_to set_default_user_card_path(current_user, card),
                        method: :post,
                        class: 'p-1 text-xs text-white bg-green-500 border border-green-500 rounded' do
            %>
              Set<br />Default
            <% end %>
          <% end %>
          <%=
            button_to user_card_path(current_user, card),
                      method: :delete,
                      data: {
                        confirm: 'Are you sure?',
                      },
                      class: 'p-1 ml-1 text-xs text-white bg-red-700 border border-red-700 rounded' do
          %>
            Delete <br />
            Card
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
