<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>
<%= include_gon %>
<div class="content">
  <h2 class="mb-3">クレジットカード一覧</h2>
  <%= turbo_frame_tag 'cards-list' do %>
    <%= render 'cards_list', cards: @cards %>
  <% end %>
  <%=
    link_to fa_icon('plus 2x', text: 'Add New Card'),
            new_user_card_path,
            class:
              'inline-flex items-center w-full max-w-lg p-5 text-2xl font-semibold text-gray-500 bg-white border border-gray-200 rounded-lg cursor-pointer justify-evenly dark:hover:text-gray-300 dark:border-gray-700 hover:text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:bg-gray-800 dark:hover:bg-gray-700',
            data: {
              turbo_frame: 'modal',
            }
  %>
</div>
