<% content_for :sidebar do %>
  <%= render 'shared/sidebar' %>
<% end %>
<%= include_gon %>
<div class="content">
  <h2>クレジットカード一覧</h2>
  <%= link_to 'New Card', new_user_card_path, class: 'btn btn-primary', data: { turbo_frame: 'modal' } %>
  <%= turbo_frame_tag 'cards-list' do %>
    <%= render 'cards_list', cards: @cards %>
  <% end %>
</div>
